doctype html
html
  head
    link(rel="stylesheet" href="./style.css")
  body
    header
      .profile
        img(src="profile.jpg")
      .heading
        h1
          | ░█▀▀▄░▒█▄░▒█░▒█▀▀▄░▒█▀▀▄░▒█▀▀▀░░░▒█▀▀▀█░█▀▀▄░▀▀█▀▀░▀▀█▀▀░▒█░░░░▒█▀▀▀░▒█▀▀▄
          | ▒█▄▄█░▒█▒█▒█░▒█░▒█░▒█▄▄▀░▒█▀▀▀░░░░▀▀▀▄▄▒█▄▄█░░▒█░░░░▒█░░░▒█░░░░▒█▀▀▀░▒█▄▄▀
          | ▒█░▒█░▒█░░▀█░▒█▄▄█░▒█░▒█░▒█▄▄▄░░░▒█▄▄▄█▒█░▒█░░▒█░░░░▒█░░░▒█▄▄█░▒█▄▄▄░▒█░▒█
        .contacts
          include:markdown-it contacts.md
        p.cli-info for the CLI version run: <strong>npx github:andresattler/CV</strong>
    main  
      section
        h2 About
        p
          include:markdown-it about.md
      section 
       h2 Work History
       p
         include:markdown-it work-history.md
      section
        h2 Technical Toolset
        p 
          include:markdown-it technical-toolset.md
      footer
        p build with <span class="coffee">☕</span> and code <a class="link" href="https://github.com/andresattler/CV">see github</a>
