doctype html
html
  head
    link(rel="stylesheet" href="./style.css")
  body
    aside
      img.profile(src="profile.jpg")
      h2 Hy I am André
    main  
      section
        h1 About
        p
          include:markdown-it about.md
      section
        h1 Education
        p 
          include:markdown-it education.md
      section 
       h1 Work History
       p
         include:markdown-it work-history.md
        
        
