@page {
  size: A4;
  margin: 0;
}
html
  background black
body
  margin 0
  background-color white
  width: 210mm
  height: 297mm
header
  display flex
  height 20%
  width 100%
  background-color #333
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  .profile
    height 55mm
    width 55mm
    border-radius 50%
    overflow hidden
    text-align center
    border 1mm solid #333
    margin .1mm
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    img
      width 100%
  .heading
    width 155mm
    text-align center
    h1
      display inline-block
      padding 1mm
      color #ad974f
      font-size 46px
      font-weight bold
      border-radius 1mm
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    .contacts
      display inline-block
      text-align left
      padding 1mm
      color #868686
      //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
      p
        margin 0
        font-weight bold
      a
        text-decoration none
        color inherit
main
  width 100%
  height 80%
  display flex
  flex-flow column
  align-items center
  background-image url("background.png")
  section
    background-color #333333
    color #AD974F
    margin-top 5mm
    border-radius 1mm
    width 90%
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    padding 2mm
    h2
      margin 0
      padding 1mm
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
